---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import HardScaping from "../assets/Hardscaping.jpg";
import driveways from "../assets/road.png";
import gravel from "../assets/abstract.png";
import wall from "../assets/brickwall.png";
import concrete from "../assets/concrete.png";
import construction from "../assets/shed.png";
import fountain from "../assets/fountain.png";

import ShortTitle from "@/components/ShortTitle.astro";
import LongTitle from "@/components/LongTitle.astro";
import NavigateButton from "../components/NavigateButton.astro";
import ServicesAcc from "../components/ServicesAcc";

// const hardscapingServices = [
//   {
//     icon: gravel,
//     title: "Decorative gravel",
//     parag:
//       "Our decorative gravel service offers a range of aesthetically pleasing gravel options for landscaping and garden projects, enhancing outdoor spaces with diverse colors and textures.",
//   },

//   {
//     icon: fountain,
//     title: "Water features",
//     parag:
//       "Our water features service provides endless possibilities for enhancing outdoor spaces with unique elements like copper, glass, granite, steel, natural stone, or ponds, creating tranquil and captivating environments through the soothing sights and sounds of water.",
//   },
//   {
//     icon: concrete,
//     title: "Concrete work",
//     parag:
//       "We specialized in crafting durable and versatile concrete structures for various purposes, from patios and driveways to foundations and decorative elements, ensuring both functionality and aesthetic appeal in construction projects.",
//   },
//   {
//     icon: construction,
//     title: "Timber work and sheds",
//     parag:
//       "We specialized in crafting bespoke timber structures like decking, fencing, trellis, gates, pergolas, gazebos, planters, and balcony furniture, offering made-to-measure solutions to enhance and beautify outdoor spaces while providing storage and functionality with sheds and other wooden constructions.",
//   },
//   {
//     icon: driveways,
//     title: "Driveways, patios and footpaths",
//     parag:
//       "We specialized in creating beautifully designed outdoor spaces using a wide selection of materials such as block paving, cobble setts, tarmac, and concrete slabs. They transform driveways, patios, and footpaths into functional and aesthetically pleasing areas for your home.",
//   },
//   {
//     icon: wall,
//     title: "Raised beds, walling and kerbing",
//     parag:
//       "Our raised beds, walling, and kerbing service offers the construction of garden features made from timber, stone, or concrete, which can enhance your garden's aesthetic appeal and provide convenient access to planted areas while adding definition and structure to the landscape.",
//   },
// ];

import jsonCMS from "../CMS/hardscapingPage.json";
console.log(jsonCMS);
---

<style>
  .pavement {
    border-radius: 54% 46% 36% 64% / 61% 30% 70% 39%;
  }
  .pavement:hover {
    border-radius: 27% 73% 48% 52% / 57% 45% 55% 43%;
  }
</style>

<Layout title="McDermott Landscaping | Hardscaping">
  <main
    class="mx-auto flex min-h-screen max-w-6xl flex-col justify-center px-4 2xl:max-w-7xl"
  >
    <section
      class="mt-10 flex min-h-screen flex-col items-center justify-center gap-10 lg:mt-0 lg:flex-row lg:gap-20"
    >
      <div
        class="flex flex-col items-center justify-center gap-5 lg:items-start"
      >
        <h1
          class="text-center text-4xl font-bold text-green-800 xs:text-5xl md:text-6xl lg:text-7xl xl:text-8xl"
        >
          Hardscaping
        </h1>
        <p class="hidden max-w-xl text-xl font-medium lg:block">
          <!-- {jsonCMS.description} -->
        </p>
      </div>

      <div class="flex items-center justify-center">
        <Image
          src={HardScaping}
          alt="pavement"
          loading="eager"
          class="pavement w-[80%] max-w-[400px] duration-300 lg:max-w-sm xl:max-w-md 2xl:max-w-xl"
        />
      </div>
      <p class="max-w-lg text-center text-lg font-medium sm:text-xl lg:hidden">
        <!-- {jsonCMS.description} -->
      </p>
    </section>
    <!-- <section class="flex w-full flex-col justify-start gap-20">
      <div class="flex flex-col items-center justify-center">
        <ShortTitle>Services</ShortTitle>
        <LongTitle>
          {jsonCMS.servicesTitle}
        </LongTitle>
      </div>
      <ServicesAcc services={jsonCMS.hardScapingServices} client:load />
    </section> -->
    <section
      class="mt-24 flex flex-col items-center justify-center gap-5 xl:mt-32"
    >
      <LongTitle>Interested in working with us?</LongTitle>
      <NavigateButton link="/contactform">Give us a message</NavigateButton>
    </section>
  </main>
</Layout>
