---
import Logo from "./Logo.astro";

import { Image } from "astro:assets";

import telIco from "../assets/phone-call.svg";
import emailIco from "../assets/envelope.svg";
import locationIco from "../assets/marker.svg";
import calendarIco from "../assets/calendar.svg";

import facebookIco from "../assets/facebook.svg";
import linkedinIco from "../assets/linkedin.svg";

import jsonCMS from "../CMS/footerCompanyInfo.json";
const data = JSON.parse(JSON.stringify(jsonCMS));

const info = [
  {
    icon: telIco,
    text: data.phoneNumber,
  },
  {
    icon: emailIco,
    text: data.validEmail,
  },
  {
    icon: locationIco,
    text: data.realLocation,
  },
  {
    icon: calendarIco,
    text: data.workProgram,
  },
];

const socials = [
  {
    icon: facebookIco,
    text: "Facebook",
    link: data.facebookProfile,
  },
  {
    icon: linkedinIco,
    text: "LinkedIn",
    link: data.linkedInProfile,
  },
];
---

<footer
  class="mt-32 flex min-h-[300px] flex-col items-center justify-center gap-10 bg-neutral-900 py-20 text-white"
>
  <div class="flex flex-col items-center justify-center gap-1 self-center">
    <div class="flex items-center justify-center gap-2">
      <Logo />
      <span class="text-2xl font-bold lg:text-3xl"
        >McDermott <br /> Landscaping</span
      >
    </div>
    <p class="text-sm text-white" id="reserved"></p>
  </div>
  <div
    class="mx-auto grid w-[80%] max-w-5xl grid-cols-1 items-center justify-items-center gap-10 md:grid-cols-2"
  >
    <div
      class="flex w-full flex-col items-start justify-start gap-5 md:items-center"
    >
      <span class="text-2xl font-bold lg:text-3xl">Info:</span>
      {
        info.map((el) => (
          <div class="ml-5 flex items-center justify-center gap-2 md:ml-0">
            <Image alt="Info Icon" src={el.icon} class="w-6 invert" />
            <span class="break-all font-medium">{el.text}</span>
          </div>
        ))
      }
    </div>
    <div
      class="flex w-full flex-col items-start justify-start gap-5 md:items-center"
    >
      <span class="text-2xl font-bold lg:text-3xl">Follow us:</span>
      {
        socials.map((el) => (
          <a
            href={el.link}
            target="_blank"
            class="ml-5 flex items-center justify-start gap-2 md:ml-0"
          >
            <Image alt="Info Icon" src={el.icon} class="w-6 invert" />
            <span class="font-medium">{el.text}</span>
          </a>
        ))
      }
      <a
        href="/admin"
        target="_blank"
        class="ml-5 flex items-center justify-start gap-2 md:ml-0"
      >
        <span class="font-bold underline">admin page</span>
      </a>
    </div>
  </div>
</footer>

<script>
  const date = new Date();
  const year = date.getFullYear();
  document.getElementById(
    "reserved",
  ).innerHTML = `&copy; ${year} All rights reserved`;
</script>
